.menu {
  background: linear-gradient(skyblue, pink);
  width: 20%;
  overflow-x: hidden;
}
.menu a {
  text-decoration: none;
  font-size: 1.25rem;
  color: rgb(8, 8, 8);
  display: block;
  padding: 0.625rem;
}
.menu a:hover {
  color: tomato;
}
.content {
  width: 80%;
  background: linear-gradient(skyblue, pink);
  padding: 10px;
}

.body {
  height: 75vh;
  display: flex;
  top: 6.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.activeClass {
  font-weight: bold;
  color: rgb(252, 252, 248) !important;
}
