.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 10%;

  margin: 10px;
  background-color: blanchedalmond !important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(20, 2, 2, 0.747);
}

.rowC {
  display: flex;
  flex-direction: row;
}

.ContainerDetail {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  position: sticky;
}
.ContainerDetail > h2 {
  color: #3b3131;
}
.container {
  margin-top: 1.2rem;
}

.iconStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallDesc {
  font-size: 16px;
  color: #9b9b9b;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container input,
.container ::-webkit-input-placeholder {
  color: white !important;
}
.container input:focus {
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid tomato;
}

.close > img {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 20px;
  top: 20px;
}
.Header {
  font-style: italic;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}
.tableSection {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  width: 100px;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-2fdn {
  text-align: center;
  vertical-align: middle;
}
.tg .tg-0lax {
  text-align: center;
  vertical-align: middle;
}
.detailsPop {
  background: linear-gradient(skyblue, pink);
  width: 100%;
  height: 100%;
}
