.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 10%;
  padding: 10px 10px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(20, 2, 2, 0.747);
}

.rowC {
  display: flex;
  flex-direction: row;
}

.ContainerDetail {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  position: sticky;
}
.ContainerDetail > h2 {
  color: #3b3131;
}
.container {
  margin-top: 1.2rem;
}

.container input,
.container ::-webkit-input-placeholder {
  color: white !important;
}
.container input:focus {
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid tomato;
}
